dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

.*

*.x
*.bak
**/res/**
**/DocGrammar.txt
**/syntax/Makefile
**/Makefile.bu
**/ParGrammar.y
**/TestGrammar

interpreter/src/AbsGrammar.hs
interpreter/src/ErrM.hs
interpreter/src/LexGrammar.hs
interpreter/src/ParGrammar.hs
interpreter/src/PrintGrammar.hs
interpreter/src/SkelGrammar.hs
interpreter/src/TestGrammar.hs
interpreter/src/interpret_test
interpreter/src/interpreter