dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

.*

*.x
*.bak
**/syntax/AbsGrammar.hs
**/syntax/DocGrammar.txt
**/syntax/ErrM.hs
**/syntax/LexGrammar.hs
**/syntax/Makefile
**/syntax/Makefile.bu
**/syntax/ParGrammar.hs
**/syntax/ParGrammar.y
**/syntax/PrintGrammar.hs
**/syntax/SkelGrammar.hs
**/syntax/TestGrammar
**/syntax/TestGrammar.hs
